<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>박동희 포트폴리오</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="container">

        <header id="intro">

            <h1>
                <a href="file:///E:/whatImade/index.html#">박동희</a>
            </h1>

            <nav>
                <ul>
                    <li class="one"><a href="#">About</a></li>
                    <li class="two"><a href="#">Portfolio</a></li>
                    <li class="three"><a href="#">Contact</a></li>
                </ul>
            </nav>

        </header>

        <main role="main" id="main">

            <article class="one">
                <a href="#">
                    <!--                 <img src="image1.png" alt="White Rabbit"> -->
                    <h3>About</h3>

                </a>
            </article>

            <article class="two">
                <a href="#">
                    <!--                 <img src="image1.png" alt="White Rabbit"> -->
                    <h2>프로젝트#1</h2>
                </a>
            </article>

            <article class="two">
                <a href="#">
                    <!--                 <img src="image2.png" alt="Cheshire Cat"> -->
                    <h2>프로젝트#2</h2>
                </a>
            </article>

            <article class="two">
                <a href="#">
                    <!--                 <img src="image3.png" alt="Queen of Hearts"> -->
                    <h2>프로젝트#3</h2>
                </a>
            </article>

            <article class="two">
                <a href="#">
                    <!--                 <img src="image4.png" alt="Mad Hatter"> -->
                    <h2>프로젝트#4</h2>
                </a>
            </article>

            <!--         <article class="text">
            <p>엘리스에 오신 여러분 환영합니다! :)</p>
        </article> -->

            <article class="three">
                <div class="inner_container">
                    <div class="title_wrap">
                        <h3 class="title">Contact</h3>
                    </div>
                    <p class="email">dongheepark.dev@gmail.com</p>
                    <p>010-8537-9794</p>
                </div>
            </article>

        </main>



        <footer id="footer">

            <div class="copyright">
                <p>Copyright © 2020 Donghee Park. All rights reserved.</p>
            </div>

        </footer>

    </div>

</body>

</html>