<!DOCTYPE html>
<html>

<body>
    <h1>You've got a friend in me, You've got a friend in me</h1>
    <h1>When the road looks rough ahead</h1>
    <h1>And you're miles and miles from your nice warm bed</h1>
    <br>
    <h1>You just remember what your old pal said</h1>
    <h1>Boy, you've got a friend in me</h1>
    <h1>Yeah, you've got a friend in me</h1>
    <br>
    <h1>You've got a friend in me, you've got a friend in me</h1>
    <h1>If you've got troubles, I've got 'em too</h1>
    <h1>There isn't anything I wouldn't do for you</h1>
    <br>
    <h1>We stick together and can see it through</h1>
    <h1>'Cause you've got a friend in me</h1>
    <h1>You've got a friend in me</h1>
    <br>
    <h1>Some other folks might be a little bit smarter than I am</h1>
    <h1>Bigger and stronger too, maybe</h1>
    <h1>But none of them will ever love you</h1>
    <h1>The way I do, it's me and you</h1>
    <br>
    <h1>Boy and as the years go by</h1>
    <h1>Our friendship will never die</h1>
    <h1>You're gonna see, it's our destiny</h1>
    <br>

</body>

</html>